{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
      "react",
      "jsx-a11y",
      "import",
      "react-native"
    ],
     "rules": {
      "no-use-before-define": "off",
      "no-underscore-dangle": "off",
      "no-nested-ternary": "off",
      "one-var": "off",
      "prefer-destructuring": ["error", {"object": false, "array": false}],
      "new-cap": [2, {"capIsNewExceptions": ["DrawerNavigator", "StackNavigator", "TabNavigator"]}],
      "indent": ["error", 2, {"SwitchCase": 1}],
      "react/jsx-indent": ["error", 2],
      "react/jsx-indent-props": ["error", 2],
      "max-len": ["error", 200],
      "no-plusplus": "off",
      "react/jsx-boolean-value": "off",
      "display-name": 0, // Prevent missing displayName in a React component definition
      "jsx-quotes": [2, "prefer-double"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-no-undef": 2, // Disallow undeclared variables in JSX
      "react/jsx-sort-props": 0, // Enforce props alphabetical sorting
      "react/jsx-uses-react": 2, // Prevent React to be incorrectly marked as unused
      "react/jsx-uses-vars": 2, // Prevent variables used in JSX to be incorrectly marked as unused
      "react/no-did-mount-set-state": 2, // Prevent usage of setState in componentDidMount
      "react/no-did-update-set-state": 2, // Prevent usage of setState in componentDidUpdate
      "react/no-multi-comp": 0, // Prevent multiple component definition per file
      "react/no-unknown-property": 2, // Prevent usage of unknown DOM property
      "react/no-unused-prop-types": "off", // allows the use or disuse of props nto used when defined
      "react/require-default-props": 0, // Enforces the use of default props
      "react/prop-types": 2, // Prevent missing props validation in a React component definition
      "react/react-in-jsx-scope": 2, // Prevent missing React when using JSX
      "react/self-closing-comp": 2, // Prevent extra closing tags for components without children
      "react/jsx-wrap-multilines": 2, // Prevent missing parentheses around multilines JSX
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".android.js", ".ios.js"]
            }
        }
    }
}
